@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Poppins:wght@300;400;500;600;800&family=Rubik:wght@400;500;700;900&display=swap');

body{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height:25px;
    font-weight:400;
}
.theme-bg{
    background: #505cfd;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #404044;
}
.float-fix{display: flow-root;}
.btn {
	border: 1px solid blue;
	padding: 15px 40px;
	border-radius: 30px;
	font-weight: 600;
	color: #595959;
    font-family: Poppins;
    font-size:14px;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* header area */
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header-area {
	padding: 30px 54px
}
nav ul {
	margin: 0 90px;
}
.main-menu ul li {
    display: inline-block;
    margin-left: 55px;
}
.main-menu ul li a {
    color: #343434;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    line-height: 1;
    padding:44px 0;
}
.hire-btn.float-end > a {
	padding: 13px 60px;
	border: 1px solid #505cfd;
	border-radius: 30px;
	margin: 0px 8px;
}

            /*slider area  */
.carousel-item img {
	height: 100vh;
}
.content-center {
	bottom: 10.25rem;
    }	
.slider-icon a {
	color: #505cfd;
	font-size: 18px;
	margin: 0 15px;
}
.slider-inner h2 {
	font-size: 72px;
	font-weight: 600;
	color: #595959;
    margin-bottom: 15px;
}
.slider-inner p{
    color: #343434;
    font-size:15px;
    margin-bottom: 50px;
}

/* features-area */
.features-area {
	margin-top: -81px;
	z-index: 2;
	position: relative;
}
.single-features{
    padding:50px 0;
}
.single-features i {
	display: block;
	color: #fff;
	font-size: 30px;
	margin-bottom: 30px;
}
.single-features h3{
    color: #fff;
    font-size:22px;
    font-weight: 600;
    margin-bottom:20px;
}
.single-features p{
    color: #fff;
    font-size:15px;
    line-height: 25px;
    margin: 0;
}
.features-detail{
    padding:80px 0 80px 30px;
}
.features-text {
     font-size:32px;
     line-height:44px;

}
.features-text h3 {
    font-size:32;
    line-height:44px;
    position: relative;
    margin-bottom:30px;
    padding-bottom:10px;
}
.features-text h3::before{
    background: #000;
    height:2px;
    width:50px;
    content: "";
    position: absolute;
    bottom:0;
}
.features-text p{
    margin-bottom: 50px;
}

        /* form-area */
.area-title h3{
    font-size:30px;
    margin-bottom:20px;
}
.subscribe-form input{
    width: 25%;
    border: 0;
    background:#fff;
    height:45px;
    padding:0 20px;
    margin-right: 10px;
    border-radius:30px;
}
.subscribe-form button{
    background:#505cfd;
    color: #fff;
    border: 0;
    height:45px;
    padding: 0 40px;
    border-radius:30px;
    font-weight: 600;
}
/* service area */
.service-wrapper {
	padding: 50px 30px;
	border: 1px solid #ddd;
    transition: 0.3s;
}
.service-wrapper:hover{
    background: #222;
    border-color: #222;
}
.service-wrapper:hover h3{
    color: #fff;
}
.service-wrapper:hover p{color: #777;}
.service-wrapper:hover .btn{
    color: #fff;
}
.service-wrapper i{
    font-size: 48px;
    color:#505cfd;
    margin-bottom:50px;
    display: inline-block;
}
.service-wrapper h3{
    font-size:22px;
    margin-bottom: 25px;
}
.service-wrapper p{
    margin-bottom: 60px;
}

/* pricing list */
.prising-item{
    width: 28%;
}
.pricing-area{
    background:#e7e8fe;
}
.pricing-wrapper{
    border:1px solid #cfd1fc;
    transition: .3s;
}
.pricing-wrapper:hover{
    box-shadow:0px 15px 30px 0px rgba(80, 92, 253, 0.1);
    background: #fff;
}

.pricing-wrapper h3{
    font-size:22px;
    padding:40px 0;
    margin: 0;
    border-bottom: 1px solid #cfd1fc;
}
.pricing-wrapper span{
    font-size:40px;
    font-weight:600px;
    color: #505cfd;
    margin-top:20px;
    display: inline-block;
    line-height:1;
}
.pricing-wrapper span span{
    font-size: 20px;
    font-weight:500;
    position: relative;
    top: -11px;
}
.pricing-wrapper ul{
margin-bottom: 20px;
}
.pricing-wrapper ul li{
    line-height:36px;
    color: #595959;
}
.counter-wrapper{}
.counter-wrapper i{
    font-size:30px;
    margin-bottom:30px;
    display:block;
    color: #fff;
}
.counter-wrapper > div{
    color: #fff;
    font-size:32px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    
}
.counter-wrapper p{
    margin: 0;
    color: #fff;
}

/* team */
.team-wrapper{
    position: relative;
}
.team-img::before{
    position: absolute;
    background: #fff;
    opacity:0;
    content: "";
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    transition:.3s;
    visibility: hidden;
}
.team-wrapper:hover .team-img::before{
    opacity:.5;
    visibility: visible;
}
.team-icon{
    margin-top:6px;
}
.team-ico a{
    color:#444;
    margin: 0 5px;
}
.team-info{
    position:absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform:translateY(-50%);
    transition:.3s;
    visibility: hidden;
    opacity:0;
}
.team-wrapper:hover .team-info{
    opacity:1;
    visibility: visible;
}
.team-info h3{
    margin-bottom:10px
}
/* blog-area */
.blog-content{ 
    margin-top: 15px;
}
.blog-content h3 a{
    font-size: 22px;
    color: #444;
    text-decoration: none;
}
.blog-content p{
    margin-bottom:30px;
}
.blog-meta{
    margin-bottom: 14px;
}
.meta-line{
    background: #444;
    height:2px;
    width:30px;
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 10px;
}
            /* corosol style */
            /* .carousel-indicators [data-bs-target] {
                box-sizing: content-box;
                flex: 0 1 auto;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                padding: 0;
                margin-right: 3px;
                margin-left: 9px;
                text-indent: -999px;
                cursor: pointer;
                background-color:rgb(95, 110, 105);
                background-clip: padding-box;
                border: 0;
                border-top: 0px solid transparent;
                border-bottom: 0px solid transparent;
                opacity: .5;
                transition: opacity .6s ease;
            } */

.carousel-indicators [data-bs-target] {
    height: 20px;
    border-radius: 50%;
    padding: 0;
    background-color:rgb(95, 110, 105);
}
.carousel-indicators{
    margin-bottom:3rem;
}
.testi-img img{
    max-height:400px;
}
.corosel-content{
    min-height: 312px;
    background: rgba(255,225,255,.9);
    color: #444;
    display: block;
}
/* footer-area */
.black-bg{
    background:#000;
}
.footer-top-area{}

.contact-list{
    margin-bottom: 20px;
}
.contact-list ul{}
.contact-list ul li{
    line-height: 36px;
    color: #777;
}
.footer-widget h3{
    color:#fff;
    font-size:22px;
    font-weight: 700;
    line-height:1;
    margin-bottom: 30px;
}
.footer-icon a{
    color: #fff;
    margin-right: 10px;
}
.footer-link li{ 
    width:50%;
    float:left;
}
.footer-link li a{
    color:#777;
    line-height:36px;
    text-decoration: none;
    margin-left: 8px;
}
.news-title h4{
    color:#777;
    font-size:17px;
    line-height:1;
    margin: 0;
}
.news-title h4 a{
    color: #777;
    font-size:17px;
    line-height:30px;
}
.news-title span{
    color:#777;
}
.news-title{
    padding-left:99px;
}
.news-thumb{
    float:left
}
.copyright-text p{
    color: #777;
    margin: 0;
}
.footer-menu ul li{
    display: inline-block;
    margin-left: 15px;
}
.footer-menu ul li a{
   color: #777;
}
.copyright-border{
        border-top: 1px solid #777;
        padding: 30px 0;
}
nav ul {
    margin: 0 0 0 369px;
}

/*  grayscale css and gradient Class 20 part 1 */
.team-img{
    filter:grayscale(100%);
    transition:all 0.5s;
}
.team-wrapper:hover .team-img{
    filter:grayscale(0);
}